@import 'base/normalize';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #2d3436;
  display: flex;
  font-family: 'Poppins', sans-serif;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: #636e72;
  font-size: 3rem;
}


.drop-zone {
  border: 3px dotted rgba(0, 184, 148, 0.25);
  border-radius: 3px;
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(7, 1fr);
  margin-bottom: 10px;
  height: auto;
  width: auto;
}


.square-drop-zone {
  border: 1px dotted rgba(85, 239, 196, 0.25);
  align-items: center;
  display: grid;
  font-size: 90px;
  height: 100px;
  justify-content: center;
  outline: none;
  width: 100px;

  &--red {
    background-color: rgba(255, 0, 0, 0.3);
  }

  &--blue {
    background-color: rgba(0, 0, 255, 0.3);
  }
}

.game-container {
  border: 3px solid #00b894;
  border-radius: 3px;
  display: grid;
  height: auto;
  width: auto;
  grid-template: repeat(6, 1fr) / repeat(7, 1fr);
}

.square {
  align-items: flex-end;
  border: 1px solid #55efc4;
  display: flex;
  font-size: 70px;
  justify-content: center;
  height: 100px;
  outline: none;
  width: 100px;
}